<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>음성 설문 조사</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>음성 설문 조사</h1>
    <button id="start-survey">음성 설문 시작</button>
    <div class="location">
        <h2>질문</h2>
        <div id="question"></div>
    </div>
    <div class="location">
        <h2>응답</h2>
        <div id="response"></div>
    </div>
    <div class="location">
        <h2>녹음 상태</h2>
        <div id="recording-status"></div>
    </div>
    <div class="location">
        <h2>결과</h2>
        <div id="result"></div>
    </div>
    <button id="next-question" style="display: none;">다음 질문</button> <!-- "다음 질문" 버튼 추가 -->

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
